@model CTMS.Models.ViewScheduledTrainingDetails

@{
	ViewBag.Title = "View Booked Candidate";
					// Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
	<div class="col-sm-12">
		<ol class="breadcrumb">
			<li><a href="/Home/Home">
				<img src="@Url.Content("~/Images/home-icon.png")"></a></li>
				@if (ViewBag.CallingModule == "M")
				{
					<li>@Html.ActionLink("Published Training", "ViewPublishedTraining", "PublishedTraining")</li>
				}
				else
				{
					<li>@Html.ActionLink("Scheduled Training", "ViewScheduledTraining", "ScheduledTraining", new { TrainingID = ViewBag.TrainingId },null)</li>
				}
			<li class="active">Booked Candidate</li>
		</ol>
	</div>
</div>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "divBookedCandidateList", OnBegin = "beginRequest", OnComplete = "searchComplete" }))
{
	
	<div id="divMessage"></div>
	
	<div class="row">
		<div class="col-sm-12">
			<h2 class="gray-heading">Booked Candidate for business event</h2>
			<div class="table-bg table-style-new">
				<div class="table-responsive">
					<table class="table half-bottom">
						<tbody>
							<tr class="no-border">
								<td><strong>Program Name:</strong></td>
                                <td>@Model.ScheduleTraining.TrainingName</td>
								<td><strong>Program Duration:</strong></td>
                                <td>@CTMS.Common.CommonUtils.GetActualTrainingDuration(Model.ScheduleTraining.TrainingDuration) </td>
                               @*<td><strong>@*Training Type:</strong></td>
                                <td>@Model.ScheduleTraining.TrainingTypeName</td>*@
							</tr>
							<tr class="no-border">
								
                                <td><strong> Start Date:</strong></td>
                                <td>@Model.ScheduleTraining.StartDateTime</td>
								<td><strong>End Date:</strong></td>
                                <td>@Model.ScheduleTraining.EndDateTime</td>
							</tr>
							<tr class="no-border">
								
                                <td><strong>Maximum Allowed:</strong></td>
                                <td>@Model.ScheduleTraining.MaxAllowed</td>
								<td><strong>@* Maintenance Point/HO/SHO*@ Venue:</strong></td>
                                <td>@Model.ScheduleTraining.MaintenancePointName</td>
							</tr>
							<tr class="no-border">
								
                                <td><strong>Booking Done:</strong></td>
                                <td>@Model.ScheduleTraining.BookingDone</td>
								<td><strong> Free Place:</strong></td>
                                <td>@Model.ScheduleTraining.FreePlace</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	
	
	<h2>Booked Candidates :</h2>
	<div id="divBookedCandidateList">
        @Html.Partial("_BookedCandidateListPartial", Model)
    </div>  
	 <div class="search-label">
            <input id="btnSubmit" type="submit" value="Search" class="btn" style="display: none" />
     </div>
	@Html.HiddenFor(m => Model.ScheduleTraining.ScheduledTrainingID, new { Value = (Model.ScheduleTraining.ScheduledTrainingID.ToString()), id = "ScheduledTrainingID" })
	@Html.HiddenFor(m => Model.Message, new { Value = Model.Message, id = "hdnMessage" })
	@Html.HiddenFor(m => Model.MessageType, new { Value = Model.MessageType, id = "hdnMessageType" })
}

	<div class="row">
		
		<div class="col-sm-12 button-group text-center">
			@if (((@Model.ScheduleTraining.MaxAllowed + ((@Model.ScheduleTraining.MaxAllowed * CTMS.Common.CommonUtils.WaitListPercentage)/100))  >  (@Model.ScheduleTraining.BookingDone + @Model.ScheduleTraining.WaitListCount)))
                {
                    if (string.IsNullOrEmpty(Model.ScheduleTraining.ProgramStatusName) || (Model.ScheduleTraining.ProgramStatusName.ToLower() != "in progress" && Model.ScheduleTraining.ProgramStatusName.ToLower() != "completed"))
                {
			   <a  class="btn btn-primary" href="#" title="Add New Candidate"  onclick="openEditDialog('/BookedCandidate/AddNewCandidate?id=@Model.ScheduleTraining.ScheduledTrainingID','Add New Candidate','dialog-edit')">Add
                 New Candidate</a>
                }
                else{
                     <a disabled="disabled" class="btn btn-primary" href="#" title="Add New Candidate">Add New Candidate</a>
                }
               //openDialog(@Model.ScheduleTraining.ScheduledTrainingID)
           }
   else
   {
			   <a disabled="disabled" class="btn btn-primary" href="#" title="Add New Candidate">Add New Candidate</a>
   }
		   @if (ViewBag.CallingModule == "M")
     {
						<a class="btn btn-primary" href="/PublishedTraining/ViewPublishedTraining" title="Cancel">Cancel</a>
     }
     else
     {
					<a class="btn btn-primary" href="/ScheduledTraining/ViewScheduledTraining?TrainingID=@ViewBag.TrainingId" title="Cancel">Cancel</a>
     }
		</div>
	</div>

	@*<div class="AddContainer">
	@if (@Model.ScheduleTraining.FreePlace > 0)
	 {
			<a  class="btn" href="#" title="Add New Candidate"  onclick="openDialog(@Model.ScheduleTraining.ScheduledTrainingID)">Add New Candidate</a>
	 }
	 else
	 {
			<a  class="btn" href="#" title="Add New Candidate">Add New Candidate</a>
	 }
		
        <a class="btn btn-primary" href="/PublishedTraining/ViewPublishedTraining" title="Cancel">Cancel</a>
	</div>*@

<div id="dialog-edit">
</div>
<script type="text/javascript">

    $().ready(function () {

      if ($("#hdnMessage").val() != null && $("#hdnMessage").val() != "") {
            showMessage("divMessage", $("#hdnMessageType").val(), $("#hdnMessage").val());
        }

        $("a.sort").click(function () { bindSort(this, "SortBy", "SortOrder", "ActionType", sendToServer) });
        //$("a.sortVLMS").click(function () { bindSort(this, "SortBy", "SortOrder", "ActionType", submitForm) });
    });

	
	createFooter("pg_pager", parseInt($("#TotalPages").val()), parseInt($("#PageSize").val()), "ActionType", "CurrentPage", sendToServer);

	function sendToServer() {
//		$("#CurrentPage").val("1");
		$("#btnSubmit").click();
	}

	function submitForm() {
//		$("#CurrentPage1").val("1");
		var form = $("#frmAddCandidate");
		form.attr("action", "/BookedCandidate/SearchVLMSCandidateList");
		form.submit();
	}

	function searchComplete(xmlHttpRequest, textStatus) {
		
		// createFooter("pg_pager",@Model.TotalPages,@Model.PageSize,"ActionType","CurrentPage",sendToServer);
		createFooter("pg_pager", parseInt($("#TotalPages").val()), parseInt($("#PageSize").val()), "ActionType", "CurrentPage", sendToServer);
		$("a.sort").click(function () { bindSort(this, "SortBy", "SortOrder", "ActionType", sendToServer) });
		setSortClass("SortBy", "SortOrder");
		endRequest();
	}


	$("a.lnkDetail").click(function () { 
			//getDetail(this, "ActionType", sendToServer) 
	});

	function deleteCandidate(id) {
		//alert(id);
		var ScheduledTrainingID = $("#ScheduledTrainingID").val();
		$.ajax({
			type: "POST",
			url: encodeURI('@Url.Action("DeleteBookedCandidate", "BookedCandidate")'),
			cache: false,
			dataType: 'json',
			data: { BookedCandidateId: id, ScheduledTrainingID: ScheduledTrainingID },
			error: function (XMLHttpRequest, textStatus, errorThrown) {

			},
			success: function (data, textStatus, XMLHttpRequest) {
				window.location.href = data;
			},
			complete: function (XMLHttpRequest, textStatus) {
				//$('#dialog-edit').dialog('close');
			}
		});
	}

	function openDialog(ScheduleId) {
		$.ajax({
			type: "GET",
			url: encodeURI('@Url.Action("AddNewCandidate", "BookedCandidate")' + "?id=" + ScheduleId),
			cache: false,
			dataType: 'html',
			error: function (XMLHttpRequest, textStatus, errorThrown) {
				$("#dialog-edit").html(XMLHttpRequest.responseText);
			},
			success: function (data, textStatus, XMLHttpRequest) {
				$("#dialog-edit").html(data);
			},
			complete: function (XMLHttpRequest, textStatus) {
				$('#dialog-edit').dialog({
					title: 'Add New Candidate',
					width: '500px',
					modal: true
				});
			}
		});

	}
</script>